:root{
    --primary-color : #689689;
    --secondary-color : #8d5b4c;
    --primary-btn-hover: #4e8676;
    /* --accent-color : ;
    --alert-color: ;
    --warning-color: ; 
    --good-color: ;
    --hr-color: ;
    --borderr-color: ;  */
    --font-color: #201b1b ; 
    --background-color: #eeeef7 ; 
}