@import "doc.css";
*{
    box-sizing: border-box;
}
html{
    font-family: 'Montserrat', sans-serif;
    background-color: var(--background-color);
}
a{
    text-decoration: none;
    color: var(--secondary-color);
}
.main-container{
    width: 80%;
    height: max-content;
    margin: auto;
    
}
.navbar-container{
    padding: 20px;
    /* display: flex; */
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.lib-name{
    text-decoration: underline var(--secondary-color);
    /* font-size: 1.3rem; */
    color: var(--font-color);
    font-size: 18px;
}
.highlight{
    color: var(--primary-color);
}

.list-container{
    display: flex;
    margin-left: auto;
}
.link{
    display: inline-block;
    margin: 0px 10px;
}
.content-container{
    text-align: center;
    margin-top: 150px;
    /* margin-bottom: auto; */
}
.main-heading{
    font-weight: 900;
    font-size: 3rem;
    margin-bottom: 1.5rem;
    color:var(--font-color);
    opacity: 0.9;
    
}
.sub-heading{
    /* font-weight: 600; */
    color: var(--font-color);
    font-size: 1.3rem;
    margin-bottom: 1rem;
}
.btn{
    border: none;
    padding:10px;
    margin: 5px 10px;
    font-size: 1.1rem;
    font-family: 'Montserrat', sans-serif;
}
.primary-btn{
    background-color: var(--primary-color);
    border-radius: 5px;
    color: var(--background-color);
    /* opacity: 0.5; */
}
.primary-btn:hover{
    color: var(--font-color);
    background-color: var(--primary-btn-hover);
}
.secondary-btn{
    border: 1px solid var(--secondary-color);
    background-color: var(--background-color);
    border-radius: 5px;
}
.secondary-btn:hover{
    color: var(--background-color);
    background-color: var(--secondary-color);
}


