<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,900;1,300&display=swap"
        rel="stylesheet">
    <link rel="shortcut icon" type="image/jpg" href="../../favicon.png" />
    <link rel="stylesheet" href="../../assets/common-css/navbar.css">
    <link rel="stylesheet" href="../../assets/common-css/sidebar.css">
    <link rel="stylesheet" href="../../assets/common-css/containers.css">
    <link rel="stylesheet" href="../../document-css/doc.css">
    <link rel="stylesheet" href="./card.css">
    <title>Tec{h}tonic | Cards</title>
</head>

<body>
    <div class="main-container">
        <div class="navbar-container">
            <nav class="navbar">
                <div class="lib-name">
                    <a href="../../index.html">Tec{h}tonic</a>

                </div>
                <div class="list-container">
                    <ul class="link-list">
                        <li class="link"><a href="https://github.com/Jia-A"><i
                            class="fab fa-github social-icon"></i></a></li>
                <li class="link"><a href="https://www.linkedin.com/in/jiyaagrawal/"><i
                            class="fab fa-linkedin-in social-icon"></i></a></li>
                <li class="link"><a href="https://twitter.com/jiya_agrawal2"><i
                            class="fab fa-twitter social-icon"></i></a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="document-container">
            <div class="sidebar">
                <div class="doc-topic">
                    Documentation
                </div>

                <ul class="doc-list">
                    <li class="doc-item"><a href="../../docs.html " class="side-link">Introduction</a></li>
                    <li class="doc-item"><a href="../color/color.html" class="side-link">Colors</a></li>
                </ul>
                <hr>
                <div class="components">
                    Components
                </div>

                <ul>
                    <li class="comp-name"><a href="../alert/alert.html" class="side-link">Alert</a></li>
                    <li class="comp-name"><a href="../avatar and badge/avatar.html" class="side-link">Avatar</a></li>
                    <li class="comp-name"><a href="../avatar and badge/badge.html" class="side-link">Badge</a></li>
                    <li class="comp-name"><a href="../button/button.html" class="side-link">Button</a></li>
                    <li class="comp-name active"><a href="../card/card.html" class="side-link">Card</a></li>
                    <li class="comp-name"><a href="../grid/grid.html" class="side-link">Grid</a></li>
                    <li class="comp-name"><a href="../image-and-input/image.html" class="side-link">Image</a></li>
                    <li class="comp-name"><a href="../image-and-input/input.html" class="side-link">Input</a></li>
                    <li class="comp-name"><a href="../list/list.html" class="side-link">List</a></li>
                    <li class="comp-name"><a href="../modal/modal.html" class="side-link">Modal</a></li>
                    <li class="comp-name"><a href="../navigation/navigation.html" class="side-link">Navigation</a></li>
                    <li class="comp-name"><a href="../ratings/ratings.html" class="side-link">Rating</a></li>
                    <li class="comp-name"><a href="../slider/slider.html" class="side-link">Slider</a></li>
                    <li class="comp-name"><a href="../snackbar/snackbar.html" class="side-link">Snackbar</a></li>
                    <li class="comp-name"><a href="../text-utilities/text-uti.html" class="side-link">Text Utilities</a></li>
                </ul>

            </div>
            <div class="main-document">
                <div class="card-head">
                    Card
                </div>
                <div class="card-content">
                    Tec{h}tonic gives you some types of card for different uses in your website and make it nicer.
                </div>
                <hr>
                <div class="card-type">
                    Card with badges
                </div>
                <div class="card-container">
                    <article class="complete-card relative">
                        <img src="../../assets/responsive-image.jpg" alt="" class="card-image">
                        <div class="main-info-cont">
                            <h3 class="info-head">Cosmos</h3>
                            <p class="sm-txt">Our Earth</p>
                        </div>
                        <div class="sub-info-cont">
                            <p class="sub-info">The Stardust we are floating through.</p>
                        </div>
                        <div class="footer">
                            <button class="button read-btn">Read</button>
                            <button class="button bookmark-btn">Bookmark</button>
                            <div class="icon-cont">
                                <button class="card-icon"><i class="fas fa-heart"></i></button>
                                <button class="card-icon"><i class="fas fa-share-alt"></i></button>
                                <button class="card-icon"><i class="fas fa-ellipsis-v"></i></button>
                            </div>
                        </div>
                        <div class="card-badge">New</div>
                    </article>
                </div>
                <div class="code">
                    <p class="smaller-text">Add this article template in your website to get this card in different places with a badge in it.</p>
                    <code class="code-cont">
                        <script src="https://gist.github.com/Jia-A/c02fc17a95035f51107225e9aa7d453f.js"></script>
                    </code>
                </div>
                <hr>
                <div class="card-type">
                    Card with dismiss
                </div>
                <div class="card-container">
                    <article class="complete-card relative">
                        <img src="../../assets/responsive-image.jpg" alt="" class="card-image">
                        <div class="main-info-cont">
                            <h3 class="info-head">Cosmos</h3>
                            <p class="sm-txt">Our Earth</p>
                        </div>
                        <div class="sub-info-cont">
                            <p class="sub-info">The Stardust we are floating through.</p>
                        </div>
                        <div class="footer">
                            <button class="button read-btn">Read</button>
                            <button class="button bookmark-btn">Bookmark</button>
                            <div class="icon-cont">
                                <button class="card-icon"><i class="fas fa-heart"></i></button>
                                <button class="card-icon"><i class="fas fa-share-alt"></i></button>
                                <button class="card-icon"><i class="fas fa-ellipsis-v"></i></button>
                            </div>
                        </div>
                        <div class="dismiss-badge"><i class="fal fa-times"></i></div>
                    </article>
                </div>
                <div class="code">
                    <p class="smaller-text">Add this article template in your website to get this card in different places with a dismissing-badge in it.</p>
                    <code class="code-cont">
                        <script src="https://gist.github.com/Jia-A/f98dd220e55ba08e867cd26e56a0a255.js"></script>
                    </code>
                </div>
                <hr>
                <div class="card-type">
                    Card with text overlay
                </div>
                <div class="card-container">
                    <article class="complete-card relative">
                        <img src="../../assets/responsive-image.jpg" alt="" class="card-image">
                        <div class="main-info-cont text-overlay">
                            <h3 class="info-head">Cosmos</h3>
                            <p class="sm-txt">Our Earth</p>
                        </div>
                        <div class="sub-info-cont">
                            <p class="sub-info">The Stardust we are floating through.</p>
                        </div>
                        <div class="footer">
                            <button class="button read-btn">Read</button>
                            <button class="button bookmark-btn">Bookmark</button>
                            <div class="icon-cont">
                                <button class="card-icon"><i class="fas fa-heart"></i></button>
                                <button class="card-icon"><i class="fas fa-share-alt"></i></button>
                                <button class="card-icon"><i class="fas fa-ellipsis-v"></i></button>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="code">
                    <p class="smaller-text">Add this article template in your website to get this card in different places an overlaying text on card.</p>
                    <code class="code-cont">
                        <script src="https://gist.github.com/Jia-A/70e891564d00cde5e1c40750424481fd.js"></script>
                    </code>
                </div>
                <hr>
                <div class="card-type">
                    Text only cards
                </div>
                <div class="card-container">
                    <article class="complete-card">
                        <img src="../../assets/responsive-image.jpg" alt="" class="card-image text-only">
                        <div class="main-info-cont">
                            <h3 class="info-head">Cosmos</h3>
                            <p class="sm-txt">Our Earth</p>
                        </div>
                        <div class="sub-info-cont">
                            <p class="sub-info">The Stardust we are floating through.</p>
                        </div>
                        <div class="footer">
                            <button class="button read-btn">Read</button>
                            <button class="button bookmark-btn">Bookmark</button>
                            <div class="icon-cont text-only">
                                <button class="card-icon"><i class="fas fa-heart"></i></button>
                                <button class="card-icon"><i class="fas fa-share-alt"></i></button>
                                <button class="card-icon"><i class="fas fa-ellipsis-v"></i></button>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="code">
                    <p class="smaller-text">Add this article template in your website to get this card in different places with just text.</p>
                    <code class="code-cont">
                        <script src="https://gist.github.com/Jia-A/a4706740184229aba832c49e1944d616.js"></script>
                    </code>
                </div>
                <hr>
                <div class="card-type">
                    Vertical/horizontal cards
                </div>
                <div class="card-container">
                    <article class="complete-card">
                        <div class="horizontal-content">
                            <img src="../../assets/responsive-image.jpg" alt="" class="card-image hori-img">
                            <div class="main-info-cont">
                                <h3 class="info-head">Cosmos</h3>
                                <p class="sm-txt">Our Earth</p>
                                <p class="sub-info text-only">The Stardust we are floating through.</p>
                            </div>
                        </div>
                        <div class="footer">
                            <button class="button read-btn">Read</button>
                            <button class="button bookmark-btn">Bookmark</button>
                            <div class="icon-cont">
                                <button class="card-icon"><i class="fas fa-heart"></i></button>
                                <button class="card-icon"><i class="fas fa-share-alt"></i></button>
                                <button class="card-icon"><i class="fas fa-ellipsis-v"></i></button>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="code">
                    <p class="smaller-text">Add this article template in your website to get this card in different places with a horizontal view.</p>
                    <code class="code-cont">
                        <script src="https://gist.github.com/Jia-A/7fe2417874707a08aa7ccbc2e816d653.js"></script>
                    </code>
                </div>
                <hr>
                <div class="card-type">
                    Card with shadow
                </div>
                <div class="card-container">
                    <article class="complete-card shadow">
                        <img src="../../assets/responsive-image.jpg" alt="" class="card-image">
                        <div class="main-info-cont">
                            <h3 class="info-head">Cosmos</h3>
                            <p class="sm-txt">Our Earth</p>
                        </div>
                        <div class="sub-info-cont">
                            <p class="sub-info">The Stardust we are floating through.</p>
                        </div>
                        <div class="footer">
                            <button class="button read-btn">Read</button>
                            <button class="button bookmark-btn">Bookmark</button>
                            <div class="icon-cont">
                                <button class="card-icon"><i class="fas fa-heart"></i></button>
                                <button class="card-icon"><i class="fas fa-share-alt"></i></button>
                                <button class=" card-icon"><i class="fas fa-ellipsis-v"></i></button>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="code">
                    <p class="smaller-text">Add this article template in your website to get this card in different places with a shadow.</p>
                    <code class="code-cont">
                        <script src="https://gist.github.com/Jia-A/6082b7273bbf96633668685fb08ae420.js"></script>
                    </code>
                </div>
            </div>
        </div>
    </div>
</body>

</html>