@import "../../assets/common-css/sidebar.css";
@import "../../assets/common-css/navbar.css";
@import "../../assets/common-css/containers.css";
@import "../../document-css/doc.css";

.btn-head,
.btn-type {
    color: var(--font-color);
    font-size: var(--head-type-font);
}

.btn-head {
    margin: -5px;
}

.btn-type {
    margin-top: var(--type-margin);
}

.btn-content {
    padding: var(--content-padding);
    font-size: var(--content-font);
    color: var(--primary-color);
}

.btn-container {
    display: flex;
    flex-wrap: wrap;
    flex-basis: var(--container-flex-basis);
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding: var(--container-gap);
    background-color: var(--eg-conatiner-bg);
    border-radius: 5px;

}

.btn {
    padding: 15px 20px;
    margin: 5px;
    text-align: center;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
}

.primary-btn {
    color: var(--whitesmoke-color);
    background-color: var(--primary-color);
}

.primary-btn:hover {
    background-color: #325499;
}

.secondary-btn {
    background-color: var(--secondary-color);
    color: var(--whitesmoke-color);
}

.secondary-btn:hover {
    background-color: #34649e;
}

.success-btn {
    background-color: var(--good-color);
    color: var(--whitesmoke-color);
}

.success-btn:hover {
    background-color: rgb(21, 177, 21);
}

.warning-btn {
    background-color: var(--warning-color);
    color: var(--whitesmoke-color);
}

.warning-btn:hover {
    background-color: rgb(168, 34, 10);
}

.primary-btn-border {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.primary-btn-border:hover {
    color: var(--whitesmoke-color);
    background-color: var(--primary-color);
}

.secondary-btn-border {
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
}

.secondary-btn-border:hover {
    color: var(--whitesmoke-color);
    background-color: var(--secondary-color);
}

.success-btn-border {
    color: var(--good-color);
    border: 1px solid var(--good-color);
}

.success-btn-border:hover {
    color: var(--whitesmoke-color);
    background-color: var(--good-color);
}

.warning-btn-border {
    color: var(--warning-color);
    border: 1px solid var(--warning-color);
}

.warning-btn-border:hover {
    color: var(--whitesmoke-color);
    background-color: var(--warning-color);
}

.link-bg-btn {
    background-color: #39779e;
}

.link-bg-btn:hover {
    background-color: var(--primary-color);
}

.link-bg-btn a {
    color: var(--whitesmoke-color);
}

.link-border-btn {
    color: #39779e;
    border: 1px solid #39779e;
}

.link-border-btn:hover {
    background-color: var(--primary-color);
}

.link-border-btn a {
    color: #39779e;
}

.icon-btn {
    border: 1px solid var(--primary-color)
}

.icon-btn:hover {
    background-color: var(--primary-color);
    color: var(--whitesmoke-color);
}

.fas {
    color: var(--primary-color);
    padding-right: 10px;
}

.f-action {
    border-radius: 50%;
    background-color: #39779e;
    z-index: 1;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.8);
    ;
}

.floating-btn {
    padding: 20px 20px;
    text-align: center;
    font-size: 1rem;
    border: none;
}

.f-action:hover {
    background-color: var(--font-color);
}

.fal {
    color: var(--whitesmoke-color);
}