<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,900;1,300&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="button.css">
    <title>Tec{h}tonic</title>
</head>

<body>
    <div class="main-container">
        <div class="navbar-container">
            <nav class="navbar">
                <div class="lib-name">
                    Tec{h}tonic

                </div>
                <div class="list-container">
                    <ul class="link-list">
                        <li class="link"><a href="https://github.com/Jia-A"><i
                                    class="fab fa-github social-icon"></i></a></li>
                        <li class="link"><a href="https://www.linkedin.com/in/jiyaagrawal/"><i
                                    class="fab fa-linkedin-in social-icon"></i></a></li>
                        <li class="link"><a href="https://twitter.com/jiya_agrawal2"><i
                                    class="fab fa-twitter social-icon"></i></a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="document-container">
            <div class="sidebar">
                <div class="doc-topic">
                    Documentation
                </div>

                <ul class="doc-list">
                    <li class="doc-item">Introduction</li>
                    <li class="doc-item">Colors</li>
                    <li class="doc-item">Text Utilities</li>
                </ul>
                <hr>
                <div class="components">
                    Components
                </div>

                <ul>
                    <li class="comp-name">Alert</li>
                    <li class="comp-name">Avatar</li>
                    <li class="comp-name">Badge</li>
                    <li class="comp-name active">Button</li>
                    <li class="comp-name">Card</li>
                    <li class="comp-name">Image</li>
                    <li class="comp-name">Input</li>
                    <li class="comp-name">Lists</li>
                    <li class="comp-name">Snackbar</li>
                </ul>

            </div>
            <div class="btn-document">
                <div class="btn-head">
                    Button
                </div>
                <div class="btn-content">
                    Button gives you the most interactivity for the user experience. For this, tec{h}tonic has many
                    times of categories and types.
                </div>
                <hr>
                <div class="btn-type">
                    Button with background
                </div>
                <div class="btn-container">
                    <button class="btn primary-btn">Primary</button>
                    <button class="btn secondary-btn">Secondary</button>
                    <button class="btn success-btn">Success</button>
                    <button class="btn warning-btn">Warning</button>
                </div>
                <div class="code">
                    <code class="code-cont">
                        <script src="https://gist.github.com/Jia-A/1140f9eb89c2e01d238508fa4663aba8.js"></script>
                    </code>
                </div>
                <hr>
                <div class="btn-type">
                    Button with outline
                </div>
                <div class="btn-container">
                    <button class="btn primary-btn-border">Primary</button>
                    <button class="btn secondary-btn-border">Secondary</button>
                    <button class="btn success-btn-border">Success</button>
                    <button class="btn warning-btn-border">Warning</button>
                </div>
                <div class="code">
                    <code class="code-cont">
                        <script src="https://gist.github.com/Jia-A/dc887d2da7bbb75fb98d3fd29b394195.js"></script>
                    </code>
                </div>
                <hr>
                <div class="btn-type">
                    Button with link
                </div>
                <div class="btn-container">
                    <button class="btn link-bg-btn"><a href="">Link</a></button>
                    <button class="btn link-border-btn"><a href="">Link2</a></button>
                </div>
                <div class="code">
                    <code class="code-cont">
                        <script src="https://gist.github.com/Jia-A/19b5cf0235d019ac42bf8b0a9dc51a70.js"></script>
                    </code>
                </div>
                <hr>
                <div class="btn-type">
                    Button with icon
                </div>
                <div class="btn-container">
                    <button class="btn icon-btn"><span><i class="fas fa-home"></i></span>Home</button>
                    <button class="btn icon-btn"><span><i class="fas fa-heart"></i></span>Wishlist</button>
                    <button class="btn icon-btn"><span><i class="fas fa-bookmark"></i></span>Bookmark</button>
                </div>
                <div class="code">
                    <code class="code-cont">
                        <script src="https://gist.github.com/Jia-A/740c307fe35c03386019e32d4b9df266.js"></script>
                    </code>
                </div>
                <hr>
                <div class="btn-type">
                    Button with floating action
                </div>
                <div class="btn-container">
                    <button class="floating-btn f-action"><span><i class="fal fa-plus"></i></span></button>
                    <button class="floating-btn f-action"><span><i class="fal fa-check"></i></span></button>
                    <button class="floating-btn f-action"><span><i class="fal fa-pencil"></i></span></button>
                </div>
                <div class="code">
                    <code class="code-cont">
                        <script src="https://gist.github.com/Jia-A/88be4fbd52919d5f3da0746e7544eff5.js"></script>
                    </code>
                </div>
                <hr>
            </div>
        </div>
    </div>
</body>

</html>l