@import url(../../root.css);
@import url('https://pro.fontawesome.com/releases/v5.10.0/css/all.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,900;1,300&display=swap');
html{
    font-family: 'Montserrat', sans-serif;
}

:root {
    --normal-height: 6.25rem;
    --normal-width: 6.25rem;
}

.avatar-head,
.avatar-type {
    color: var(--font-color);
    font-size: var(--head-type-font);
}

.avatar-head {
    margin: -5px;
}

.avatar-type {
    margin-top: var(--type-margin);
}

.avatar-content {
    padding: var(--content-padding);
    font-size: var(--content-font);
    color: var(--primary-color);
}

.avatar-container {
    display: flex;
    flex-direction: row;
    gap: var(--container-gap);
    align-items: center;
    justify-content: center;
    padding: 1.875rem;
    background-color: var(--eg-container-bg);
    border-radius: var(--border-radius);
    flex-wrap: wrap;
    margin-top: var(--container-margin-top);
}

.round-av,
.squared-av {
    width: var(--normal-width);
    height: var(--normal-height);
}

.round-av {
    border-radius: 50%;
}

.squared-av {
    border-radius: var(--border-radius);
}

.small {
    width: 3.125rem;
    height: 3.125rem;
}

.normal {
    width: var(--normal-width);
    height: var(--normal-height);
}

.large {
    width: 9.375rem;
    height: 9.375rem;
}

.code{
    margin: 1rem auto;
    width: 400px;
    overflow: auto;
}

.gist-meta{
    display: none;
}
.smaller-text{
    font-size: smaller;
}