<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,900;1,300&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="./avatar.css">
    <title>Tec{h}tonic | Avatar</title>
</head>

<body>
    <div class="main-container">
        <div class="navbar-container">
            <nav class="navbar">
                <div class="lib-name">
                    Tec{h}tonic

                </div>
                <div class="list-container">
                    <ul class="link-list">
                        <li class="link"><a href="https://github.com/Jia-A"><i
                                    class="fab fa-github social-icon"></i></a></li>
                        <li class="link"><a href="https://www.linkedin.com/in/jiyaagrawal/"><i
                                    class="fab fa-linkedin-in social-icon"></i></a></li>
                        <li class="link"><a href="https://twitter.com/jiya_agrawal2"><i
                                    class="fab fa-twitter social-icon"></i></a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="document-container">
            <div class="sidebar">
                <div class="doc-topic">
                    Documentation
                </div>

                <ul class="doc-list">
                    <li class="doc-item">Introduction</li>
                    <li class="doc-item">Colors</li>
                    <li class="doc-item">Text Utilities</li>
                </ul>
                <hr>
                <div class="components">
                    Components
                </div>

                <ul>
                    <li class="comp-name">Alert</li>
                    <li class="comp-name active">Avatar</li>
                    <li class="comp-name">Badge</li>
                    <li class="comp-name">Button</li>
                    <li class="comp-name">Card</li>
                    <li class="comp-name">Image</li>
                    <li class="comp-name">Input</li>
                    <li class="comp-name">Lists</li>
                    <li class="comp-name">Snackbar</li>
                </ul>

            </div>
            <div class="main-document">
                <div class="avatar-head">
                    Avatar
                </div>
                <div class="avatar-content">
                    Tec{h}tonic gives you some types of avatar for user profiles etc. in your website.
                </div>
                <hr>
                <div class="avatar-type">
                    Simple Round Avatars
                </div>
                <div class="avatar-container">
                    <img src="../../assets/avatar-image.jpg" alt="" class="round-av">
                </div>
                <hr>
                <div class="avatar-type">
                    Round Avatar with different sizes
                </div>
                <div class="avatar-container">
                    <img src="../../assets/avatar-image.jpg" alt="" class="round-av small">
                    <img src="../../assets/avatar-image.jpg" alt="" class="round-av normal">
                    <img src="../../assets/avatar-image.jpg" alt="" class="round-av large">
                </div>
                <hr>
                <div class="avatar-type">
                    Simple Square Avatar
                </div>
                <div class="avatar-container">
                    <img src="../../assets/avatar-image.jpg" alt="" class="squared-av">
                </div>
                <hr>
                <div class="avatar-type">
                    Square Avatar with different sizes
                </div>
                <div class="avatar-container">
                    <img src="../../assets/avatar-image.jpg" alt="" class="squared-av small">
                    <img src="../../assets/avatar-image.jpg" alt="" class="squared-av normal">
                    <img src="../../assets/avatar-image.jpg" alt="" class="squared-av large">
                </div>
                <hr>
            </div>
        </div>
    </div>
</body>

</html>