<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,900;1,300&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="./badge.css">
    <title>Tec{h}tonic | Badge</title>
</head>

<body>
    <div class="main-container">
        <div class="navbar-container">
            <nav class="navbar">
                <div class="lib-name">
                    Tec{h}tonic

                </div>
                <div class="list-container">
                    <ul class="link-list">
                        <li class="link"><a href="https://github.com/Jia-A"><i
                                    class="fab fa-github social-icon"></i></a></li>
                        <li class="link"><a href="https://www.linkedin.com/in/jiyaagrawal/"><i
                                    class="fab fa-linkedin-in social-icon"></i></a></li>
                        <li class="link"><a href="https://twitter.com/jiya_agrawal2"><i
                                    class="fab fa-twitter social-icon"></i></a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="document-container">
            <div class="sidebar">
                <div class="doc-topic">
                    Documentation
                </div>

                <ul class="doc-list">
                    <li class="doc-item">Introduction</li>
                    <li class="doc-item">Colors</li>
                    <li class="doc-item">Text Utilities</li>
                </ul>
                <hr>
                <div class="components">
                    Components
                </div>

                <ul>
                    <li class="comp-name">Alert</li>
                    <li class="comp-name">Avatar</li>
                    <li class="comp-name active">Badge</li>
                    <li class="comp-name">Button</li>
                    <li class="comp-name">Card</li>
                    <li class="comp-name">Image</li>
                    <li class="comp-name">Input</li>
                    <li class="comp-name">Lists</li>
                    <li class="comp-name">Snackbar</li>
                </ul>

            </div>
            <div class="main-document">
                <div class="badge-head">
                    Badge
                </div>
                <div class="badge-content">
                    Tec{h}tonic gives you 2 types of badges to use in different areas
                </div>
                <hr>
                <div class="badge-type">
                    Badge on icons
                </div>
                <div class="badge-content">
                    Badge on icons are usually used to show how many notifications, items, messages you have in a
                    particular app.
                </div>
                <div class="badge-container">
                    <div class="badge-items">
                        <div class="cart"><i class="fas fa-shopping-cart fa-2x"></i></div>
                        <div class="badge icon-badge">7</div>
                    </div>
                    <div class="badge-items">
                        <div class="envelope"><i class="fas fa-envelope fa-2x"></i></div>
                        <div class="badge icon-badge">3</div>
                    </div>
                    <div class="badge-items">
                        <div class="notification"><i class="fas fa-bell fa-2x"></i></div>
                        <div class="badge icon-badge">6</div>
                    </div>
                </div>
                <hr>
                <div class="badge-type">
                    Badge on Avatars
                </div>
                <div class="badge-content">
                    Badge on avatars are used to show you the status of that person right now.
                    They can be of three types : <span class="focus">Online, offline, do not disturb</span>
                </div>
                <div class="badge-container">
                    <div class="badge-items">
                        <img src="../../assets/avatar-image.jpg" alt="" class="round-av normal">
                        <div class="badge on-badge"></div>
                    </div>
                    <div class="badge-items">
                        <img src="../../assets/avatar-image.jpg" alt="" class="round-av normal">
                        <div class="badge off-badge"></div>
                    </div>
                    <div class="badge-items">
                        <img src="../../assets/avatar-image.jpg" alt="" class="round-av normal">
                        <div class="badge dnd-badge"></div>
                    </div>
                </div>
                <hr>

            </div>
        </div>
    </div>
</body>

</html>