<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,900;1,300&display=swap"
        rel="stylesheet">
    <link rel="shortcut icon" type="image/jpg" href="../../favicon.png" />
    <link rel="stylesheet" href="../../assets/common-css/navbar.css">
    <link rel="stylesheet" href="../../assets/common-css/sidebar.css">
    <link rel="stylesheet" href="../../assets/common-css/containers.css">
    <link rel="stylesheet" href="../../document-css/doc.css">
    <link rel="stylesheet" href="./slider.css">
    <title>Tec{h}tonic | Slider</title>
</head>

<body>
    <div class="main-container">
        <div class="navbar-container">
            <nav class="navbar">
                <div class="lib-name">
                    <a href="../../index.html">Tec{h}tonic</a>
                </div>
                <div class="list-container">
                    <ul class="link-list">
                        <li class="link"><a href="https://github.com/Jia-A"><i
                                    class="fab fa-github social-icon"></i></a></li>
                        <li class="link"><a href="https://www.linkedin.com/in/jiyaagrawal/"><i
                                    class="fab fa-linkedin-in social-icon"></i></a></li>
                        <li class="link"><a href="https://twitter.com/jiya_agrawal2"><i
                                    class="fab fa-twitter social-icon"></i></a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="document-container">
            <div class="sidebar">
                <div class="doc-topic">
                    Documentation
                </div>

                <ul class="doc-list">
                    <li class="doc-item"><a href="../../docs.html " class="side-link">Introduction</a></li>
                    <li class="doc-item"><a href="../color/color.html" class="side-link">Colors</a></li>

                </ul>
                <hr>
                <div class="components">
                    Components
                </div>

                <ul>
                    <li class="comp-name"><a href="../alert/alert.html" class="side-link">Alert</a></li>
                    <li class="comp-name"><a href="../avatar and badge/avatar.html" class="side-link">Avatar</a></li>
                    <li class="comp-name"><a href="../avatar and badge/badge.html" class="side-link">Badge</a></li>
                    <li class="comp-name"><a href="../button/button.html" class="side-link">Button</a></li>
                    <li class="comp-name"><a href="../card/card.html" class="side-link">Card</a></li>
                    <li class="comp-name"><a href="../grid/grid.html" class="side-link">Grid</a></li>
                    <li class="comp-name"><a href="../image-and-input/image.html" class="side-link">Image</a></li>
                    <li class="comp-name"><a href="../image-and-input/input.html" class="side-link">Input</a></li>
                    <li class="comp-name"><a href="../list/list.html" class="side-link">List</a></li>
                    <li class="comp-name"><a href="../modal/modal.html" class="side-link">Modal</a></li>
                    <li class="comp-name"><a href="../navigation/navigation.html" class="side-link">Navigation</a></li>
                    <li class="comp-name"><a href="../ratings/ratings.html" class="side-link">Rating</a></li>
                    <li class="comp-name active"><a href="../slider/slider.html" class="side-link">Slider</a></li>
                    <li class="comp-name"><a href="../snackbar/snackbar.html" class="side-link">Snackbar</a></li>
                    <li class="comp-name"><a href="../text-utilities/text-uti.html" class="side-link">Text Utilities</a></li>
                </ul>

            </div>
            <div class="slider-document">
                <div class="slider-head">
                    Slider
                </div>
                <div class="slider-content">
                    Sliders on a website are used so that a user has a range of thing to choose from. They are usually used when they are filtering price on an e-commerce website etc.
                </div>
                <hr>
                <div class="slider-topic">
                    Slider with counter
                </div>
                <div class="slider-container">
                    <div class="slider-box">
                        <input type="range" class="slider-inp" min="0" max="100" value="0">
                        <div class="slider-out"></div>
                    </div>
                </div>
                <div class="code">
                    <p class="smaller-text">By adding the below code, you will get a slider with a counter. </p>
                    <code class="code-cont">
                        <script src="https://gist.github.com/Jia-A/f2fdc583f142b6f2a832110b3fb31603.js"></script>
                    </code>
                </div>
                <hr>
                
            </div>
        </div>
    </div>
    <script src="slider.js"></script>
</body>

</html>