<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,900;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./input.css">
    <title>Tec{h}tonic | Input</title>
</head>
<body>
    <div class="main-container">
        <div class="navbar-container">
            <nav class="navbar">
               <div class="lib-name">
                   Tec{h}tonic
                   
               </div> 
               <div class="list-container">
                    <ul class="link-list">
                        <li class="link"><a href="">Home</a></li>
                        <li class="link"><a href="">Docs</a></li>
                        <li class="link"><a href="">Library</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="document-container">
            <div class="sidebar">
                <div class="doc-topic">
                    Documentation
                </div>
                
                <ul class="doc-list">
                    <li class="doc-item">Introduction</li>
                    <li class="doc-item">Colors</li>
                    <li class="doc-item">Text Utilities</li>
                </ul>
                <hr>
                <div class="components">
                    Components
                </div>
                
                <ul>
                    <li class="comp-name">Alert</li>
                    <li class="comp-name">Avatar</li>
                    <li class="comp-name">Badge</li>
                    <li class="comp-name">Button</li>
                    <li class="comp-name">Card</li>
                    <li class="comp-name">Image</li>
                    <li class="comp-name">Input</li>
                    <li class="comp-name">Lists</li>
                    <li class="comp-name">Navigation</li>
                    <li class="comp-name">Snackbar</li>
                </ul>

            </div>
            <div class="main-document">
                <div class="input-head">
                    Input
                </div>
                <div class="input-content">
                    Tec{h}tonic gives you mainly 2 types of input fields for different uses.
                </div>
                <hr>
                <div class="input-type">
                    Simple Input Field
                </div>
                <div class="simple-input-boxes">
                    <div class="box">
                        <label>Username</label>
                        <input type="text" class="email-id-input input">
                    </div>
                    <div class="box">
                        <label class="password-label">Password</label>
                        <input type="password" class="password-input input" required>
                        <div class="invalid-message">Password required</div>
                    </div>
                </div>
                <div class="input-type">
                    Search Bar Input
                </div>
                <div class="simple-input-boxes">
                    <div class="box">
                        <input type="text" placeholder="Search" class="search-box input">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
