@import "../assets/common-css/sidebar.css";
@import "../assets/common-css/navbar.css";
@import "../assets/common-css/containers.css";
@import url(../root.css);

html{
    font-family: 'Montserrat', sans-serif ;
    background-color: whitesmoke;
}
.document-container{
    display: flex;
    margin-top: var(--doc-container-margin-top);
    gap: var(--doc-container-gap);
}
.intro-head, .install-head{
    color: var(--font-color);
    font-size: var(--head-type-font);
}
.intro-head{
    margin: -5px;
}
.install-head{
    margin-top: var(--type-margin);
}
.intro-content, .install-process{
    padding: var(--content-padding);
    font-size: var(--content-font);
    color: var(--primary-color);
}
.smaller-text{
    font-size: smaller;
}
.code{
    margin: 1rem auto;
    width: 400px;
    overflow: auto;
}








