@import "../assets/common-css/sidebar.css";
@import "../assets/common-css/navbar.css";
@import "../assets/common-css/containers.css";

:root{
    --primary-color : #1D3461;
    --secondary-color : #829CBC;

    --alert-color: rgb(241, 125, 16); 
    --warning-color: rgb(224, 49, 18); 
    --good-color: rgb(21, 150, 21); 
    --gray-color: gray;
    --whitesmoke-color : whitesmoke;
    --font-color: #201b1b ; 
    --background-color: #eeeef7 ; 

    --head-type-font : 1.7rem;
    --type-margin : 1.875rem;
    --content-padding : 1.25rem;
    --content-font : 1.1875rem;
    --container-gap : 1.875rem;
    --container-margin-top: 1.25rem;
    --doc-container-margin-top: 5.625rem;
    --doc-container-gap : 3.125rem; 

}
html{
    font-family: 'Montserrat', sans-serif ;
    background-color: whitesmoke;
}
.document-container{
    display: flex;
    margin-top: var(--doc-container-margin-top);
    gap: var(--doc-container-gap);
}
.intro-head, .install-head{
    color: var(--font-color);
    font-size: var(--head-type-font);

}
.intro-head{
    margin: -5px;
}
.install-head{
    margin-top: var(--type-margin);
}
.intro-content, .install-process{
    padding: var(--content-padding);
    font-size: var(--content-font);
    color: var(--primary-color);
}




