<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,900;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./list.css">
    <title>Tec{h}tonic | List</title>
</head>
<body>
    <div class="main-container">
        <div class="navbar-container">
            <nav class="navbar">
               <div class="lib-name">
                   <a href="../../index.html">Tec{h}tonic</a>
                   
               </div> 
               <div class="list-container">
                    <ul class="link-list">
                        <li class="link"><a href="https://github.com/Jia-A"><i
                            class="fab fa-github social-icon"></i></a></li>
                <li class="link"><a href="https://www.linkedin.com/in/jiyaagrawal/"><i
                            class="fab fa-linkedin-in social-icon"></i></a></li>
                <li class="link"><a href="https://twitter.com/jiya_agrawal2"><i
                            class="fab fa-twitter social-icon"></i></a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="document-container">
            <div class="sidebar">
                <div class="doc-topic">
                    Documentation
                </div>
                
                <ul class="doc-list">
                    <li class="doc-item">Introduction</li>
                    <li class="doc-item">Colors</li>
                    <li class="doc-item">Text Utilities</li>
                </ul>
                <hr>
                <div class="components">
                    Components
                </div>
                
                <ul>
                    <li class="comp-name">Alert</li>
                    <li class="comp-name">Avatar</li>
                    <li class="comp-name">Badge</li>
                    <li class="comp-name">Button</li>
                    <li class="comp-name">Card</li>
                    <li class="comp-name">Image</li>
                    <li class="comp-name">Input</li>
                    <li class="comp-name active">Lists</li>
                    <li class="comp-name">Snackbar</li>
                </ul>

            </div>
            <div class="list-document">
                <div class="list-head">
                    List
                </div>
                <div class="list-content">
                    Tec{h}tonic gives you three types of list for various use in different areas. You can use spaced list in chips or stacked in notification.
                </div>
                <hr>
                <div class="list-topic">
                   Spaced List
                </div>
                <div class="list-content">
                    This types of list can be used for chips.
                </div>
                <div class="list-comp-container">
                    <ul class="inline">
                        <li class="spaced">Item 1</li>
                        <li class="spaced">Item 2</li>
                        <li class="spaced">Item 3</li>
                        <li class="spaced">Item 4</li>
                        <li class="spaced">Item 5</li>
                    </ul>
                </div>
                <hr>
                <div class="list-topic">
                    Stacked list with bullets
                </div>
                <div class="list-content">
                    This can be used for stating facts in your website.
                </div>
                <div class="list-comp-container">
                    <ul class="bullets">
                        <li class="stacked">Item 1</li>
                        <li class="stacked">Item 2</li>
                        <li class="stacked">Item 3</li>
                        <li class="stacked">Item 4</li>
                        <li class="stacked">Item 5</li>
                    </ul>
                </div>
                <div class="list-topic">
                    Stacked list without bullets
                </div>
                <div class="list-content">
                    This list can be used for notifications.
                </div>
                <div class="list-comp-container">
                    <ul>
                        <li class="stacked">Item 1</li>
                        <li class="stacked">Item 2</li>
                        <li class="stacked">Item 3</li>
                        <li class="stacked">Item 4</li>
                        <li class="stacked">Item 5</li>
                    </ul>
                </div>
                <div class="list-topic">
                    Ordered List
                </div>
                <div class="list-content">
                    This list can be used in the menus and such.
                </div>
                <div class="list-comp-container">
                    <ol class="ordered">
                        <li class="stacked">Item 1</li>
                        <li class="stacked">Item 2</li>
                        <li class="stacked">Item 3</li>
                        <li class="stacked">Item 4</li>
                        <li class="stacked">Item 5</li>
                    </ol>
                </div>
                <hr>
            </div>
        </div>
    </div>
</body>
</html>