<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,900;1,300&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/jpg" href="../../favicon.png" />
    <link rel="stylesheet" href="./color.css">
    <title>Tec{h}tonic | Colors</title>
</head>
<body>
    <div class="main-container">
        <div class="navbar-container">
            <nav class="navbar">
               <div class="lib-name">
                <a href="../../index.html">Tec{h}tonic</a>
                   
               </div> 
               <div class="list-container">
                    <ul class="link-list">
                        <li class="link"><a href="https://github.com/Jia-A"><i
                            class="fab fa-github social-icon"></i></a></li>
                <li class="link"><a href="https://www.linkedin.com/in/jiyaagrawal/"><i
                            class="fab fa-linkedin-in social-icon"></i></a></li>
                <li class="link"><a href="https://twitter.com/jiya_agrawal2"><i
                            class="fab fa-twitter social-icon"></i></a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="document-container">
            <div class="sidebar">
                <div class="doc-topic">
                    Documentation
                </div>
                
                <ul class="doc-list">
                    <li class="doc-item"><a href="../../docs.html " class="side-link">Introduction</a></li>
                    <li class="doc-item active"><a href="../color/color.html" class="side-link">Colors</a></li>
                </ul>
                <hr>
                <div class="components">
                    Components
                </div>
                
                <ul>
                    <li class="comp-name"><a href="../alert/alert.html" class="side-link">Alert</a></li>
                    <li class="comp-name"><a href="../avatar and badge/avatar.html" class="side-link">Avatar</a></li>
                    <li class="comp-name"><a href="../avatar and badge/badge.html" class="side-link">Badge</a></li>
                    <li class="comp-name"><a href="../button/button.html" class="side-link">Button</a></li>
                    <li class="comp-name"><a href="../card/card.html" class="side-link">Card</a></li>
                    <li class="comp-name"><a href="../image-and-input/image.html" class="side-link">Image</a></li>
                    <li class="comp-name"><a href="../image-and-input/input.html" class="side-link">Input</a></li>
                    <li class="comp-name"><a href="../list/list.html" class="side-link">List</a></li>
                    <li class="comp-name"><a href="../snackbar/snackbar.html" class="side-link">Snackbar</a></li>
                    <li class="comp-name"><a href="../text-utilities/text-uti.html" class="side-link">Text Utilities</a></li>
                </ul>

            </div>
            <div class="main-document">
                <div class="color-intro">
                    Theme for the library
                </div>
                <div class="color-content">
                    Tec{h}tonic has some pre-defined colors which are used on the whole library. 
                </div>
                <hr>
                <div class="color-head">
                    Color Palette
                </div>
                <div class="palette">

                    <div class="color-box">
                        <div class="primary"></div>
                        <div class="info">
                            <p>Primary Color</p>
                            <p>Hex : #1D3461 </p>
                        </div>
                    </div>
                    <div class="color-box"><div class="secondary"></div>
                    <div class="info">
                        <p>Secondary Color</p>
                        <p>Hex : #829CBC </p>
                    </div></div>
                    <div class="color-box"><div class="font"></div>
                    <div class="info">
                        <p>Font Color</p>
                        <p>Hex : </p>
                    </div></div>
                    <div class="color-box"><div class="good"></div>
                    <div class="info">
                        <p>Success Color</p>
                        <p>Hex : #159615</p>
                    </div></div>
                    <div class="color-box"><div class="alert"></div>
                    <div class="info">
                        <p>Alert Color</p>
                        <p>Hex : #F17D0F </p>
                    </div></div>
                    <div class="color-box"><div class="warning"></div>
                    <div class="info">
                        <p>Warning Color</p>
                        <p>Hex : #E03112</p>
                    </div></div>

                </div>
            </div>
        </div>
    </div>
</body>
</html>