<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,900;1,300&display=swap"
        rel="stylesheet">
    <link rel="shortcut icon" type="image/jpg" href="../../favicon.png" />
    <link rel="stylesheet" href="../../assets/common-css/navbar.css">
    <link rel="stylesheet" href="../../assets/common-css/sidebar.css">
    <link rel="stylesheet" href="../../assets/common-css/containers.css">
    <link rel="stylesheet" href="../image-and-input/input.css">
    <link rel="stylesheet" href="../../document-css/doc.css">
    <link rel="stylesheet" href="../button/button.css">
    <link rel="stylesheet" href="./navigation.css">
    <title>Tec{h}tonic | Navigation</title>
</head>

<body>
    <div class="main-container">
        <div class="navbar-container">
            <nav class="navbar">
                <div class="lib-name">
                    <a href="../../index.html">Tec{h}tonic</a>
                </div>
                <div class="list-container">
                    <ul class="link-list">
                        <li class="link"><a href="https://github.com/Jia-A"><i
                                    class="fab fa-github social-icon"></i></a></li>
                        <li class="link"><a href="https://www.linkedin.com/in/jiyaagrawal/"><i
                                    class="fab fa-linkedin-in social-icon"></i></a></li>
                        <li class="link"><a href="https://twitter.com/jiya_agrawal2"><i
                                    class="fab fa-twitter social-icon"></i></a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="document-container">
            <div class="sidebar">
                <div class="doc-topic">
                    Documentation
                </div>

                <ul class="doc-list">
                    <li class="doc-item"><a href="../../docs.html " class="side-link">Introduction</a></li>
                    <li class="doc-item"><a href="../color/color.html" class="side-link">Colors</a></li>

                </ul>
                <hr>
                <div class="components">
                    Components
                </div>

                <ul>
                    <li class="comp-name"><a href="../alert/alert.html" class="side-link">Alert</a></li>
                    <li class="comp-name"><a href="../avatar and badge/avatar.html" class="side-link">Avatar</a></li>
                    <li class="comp-name"><a href="../avatar and badge/badge.html" class="side-link">Badge</a></li>
                    <li class="comp-name"><a href="../button/button.html" class="side-link">Button</a></li>
                    <li class="comp-name"><a href="../card/card.html" class="side-link">Card</a></li>
                    <li class="comp-name"><a href="../image-and-input/image.html" class="side-link">Image</a></li>
                    <li class="comp-name"><a href="../image-and-input/input.html" class="side-link">Input</a></li>
                    <li class="comp-name"><a href="../list/list.html" class="side-link">List</a></li>
                    <li class="comp-name active"><a href="../navigation/navigation.html" class="side-link">Navigation</a></li>
                    <li class="comp-name"><a href="../snackbar/snackbar.html" class="side-link">Snackbar</a></li>
                    <li class="comp-name"><a href="../text-utilities/text-uti.html" class="side-link">Text Utilities</a></li>
                </ul>

            </div>
            <div class="navi-document">
                <div class="navi-head">
                    Navigation
                </div>
                <div class="navi-content">
                    Navigation component is used at the top of any website to navigate through the site through given options. It has many options.
                    Navigation design is about creating a system that empowers your users to interact with and use your product
                </div>
                <hr>
                <div class="navi-topic">
                    Simple Navigation
                </div>
                <div class="navi-container">
                    <div class="nav-con">
                        <nav class="nav-bar">
                            <div class="brand-name-center">
                                <h2 class="website-name"><a href="" class="link-style link-color-primary">Brand Name</a></h2>
                            </div>
                            
                            <div class="box">
                                <input type="text" placeholder="Search" class="search-box input">
                            </div> 
                            <div class="nav-btn">
                                <button class="btn secondary-btn"><a href="./site-pages/login/login.html" class="link-style link-color">Login</a></button>
                                <div class="btn-badge">
                                    <button class="btn icon-only-btn"><i class="far fa-user icon"></i></button>
                                    <div class="real-badge">6</div>
                                </div>
                                <div class="btn-badge">
                                    <button class="btn icon-only-btn"><a href="./site-pages/wishlist/wishlist.html" class="link-styel"><i class="far fa-heart icon"></i></a></button>
                                    <div class="real-badge">4</div>
                                </div>
                                
                                <div class="btn-badge">
                                    <button class="btn icon-only-btn"><a href="./site-pages/cart/cart.html" class="link-style"><i class="far fa-shopping-cart icon"></i></a></button>
                                    <div class="real-badge">1</div>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
                <div class="code">
                    <p class="smaller-text">By adding the below code at the top most part in your HTML file, you'll get the above navigation bar where you can write your brand name and have different navigating pages. </p>
                    <code class="code-cont">
                        <script src="https://gist.github.com/Jia-A/ee27158f4519d8183d67c51e6532ebe7.js"></script>
                    </code>
                </div>
                <hr>
            </div>
        </div>
    </div>
</body>

</html>