<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,900;1,300&display=swap"
        rel="stylesheet"/>
    <link rel="shortcut icon" type="image/jpg" href="../../favicon.png" />
    <link rel="stylesheet" href="./text-uti.css">
    <title>Tec{h}tonic | Text Utilities</title>
</head>

<body>
    <div class="main-container">
        <div class="navbar-container">
            <nav class="navbar">
                <div class="lib-name">
                    <a href="../../index.html">Tec{h}tonic</a>
                </div>
                <div class="list-container">
                    <ul class="link-list">
                        <li class="link"><a href="https://github.com/Jia-A"><i
                                    class="fab fa-github social-icon"></i></a></li>
                        <li class="link"><a href="https://www.linkedin.com/in/jiyaagrawal/"><i
                                    class="fab fa-linkedin-in social-icon"></i></a></li>
                        <li class="link"><a href="https://twitter.com/jiya_agrawal2"><i
                                    class="fab fa-twitter social-icon"></i></a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="document-container">
            <div class="sidebar">
                <div class="doc-topic">
                    Documentation
                </div>

                <ul class="doc-list">
                    <li class="doc-item"><a href="../../docs.html " class="side-link">Introduction</a></li>
                    <li class="doc-item"><a href="../color/color.html" class="side-link">Colors</a></li>
                </ul>
                <hr>
                <div class="components">
                    Components
                </div>

                <ul>
                    <li class="comp-name"><a href="../alert/alert.html" class="side-link">Alert</a></li>
                    <li class="comp-name"><a href="../avatar and badge/avatar.html" class="side-link">Avatar</a></li>
                    <li class="comp-name"><a href="../avatar and badge/badge.html" class="side-link">Badge</a></li>
                    <li class="comp-name"><a href="../button/button.html" class="side-link">Button</a></li>
                    <li class="comp-name"><a href="../card/card.html" class="side-link">Card</a></li>
                    <li class="comp-name"><a href="../image-and-input/image.html" class="side-link">Image</a></li>
                    <li class="comp-name"><a href="../image-and-input/input.html" class="side-link">Input</a></li>
                    <li class="comp-name"><a href="../list/list.html" class="side-link">List</a></li>
                    <li class="comp-name"><a href="../snackbar/snackbar.html" class="side-link">Snackbar</a></li>
                    <li class="comp-name active"><a href="../text-utilities/text-uti.html" class="side-link">Text Utilities</a></li>
                </ul>

            </div>
            <div class="main-document">
                <div class="text-head">
                    Text Utilities
                </div>
                <div class="text-content">
                    Tec{h}tonic has used many types of heading and other text-utilities that you can give to your
                    website.
                </div>
                <hr>
                <div class="font-style-head">
                    Font Family
                </div>
                <div class="text-content">
                    Tec{h}tonic uses <span class="font-fam-name">Montserrat</span> as its default font-family. It is a
                    Google font which you can use for free.
                    For using this font, you can use this link mentioned below in your head tag of the html file.
                    <p class="smaller-text"> Add this file in head-head to get this font in your file.</p>
                </div>
                <div class="code">
                    <code class="code-cont">
                        <script src="https://gist.github.com/Jia-A/c902bde3ef3d49381a4a41b5643ba38a.js"></script>
                    </code>
                </div>
                <hr>
                <div class="text-type">
                    Headings.
                </div>
                <div class="different-texts">
                    <h1 class="head-sentence"> H1 : Hello, this is Tec{h}tonic library!</h1>
                    <h2 class="head-sentence"> H2 : Hello, this is Tec{h}tonic library!</h2>
                    <h3 class="head-sentence"> H3 : Hello, this is Tec{h}tonic library!</h3>
                    <h4 class="head-sentence"> H4 : Hello, this is Tec{h}tonic library!</h4>
                    <h5 class="head-sentence"> H5 : Hello, this is Tec{h}tonic library!</h5>
                    <h6 class="head-sentence"> H6 : Hello, this is Tec{h}tonic library!</h6>
                </div>
                <div class="code">
                    <code class="code-cont">
                        <script src="https://gist.github.com/Jia-A/ff45253b30a93c100b34e92cb99e0bc4.js"></script>
                    </code>
                </div>
                <hr>
                <div class="text-type">
                    Small Text
                </div>
                <div class="different-texts">
                    <div class="small-text small-sentence">Small : Hello, this is Tec{h}tonic library!</div>
                    <div class="smaller-text small-sentence">Smaller : Hello, this is Tec{h}tonic library!</div>
                    <div class="xsmall-text small-sentence">Extra-small : Hello, this is Tec{h}tonic library!</div>
                    <div class="xxsmall-text small-sentence">X-Extra-small : Hello, this is Tec{h}tonic library!</div>
                </div>
                <div class="code">
                    <code class="code-cont">
                        <script src="https://gist.github.com/Jia-A/f56fb6e421819f87109e10b07fd96187.js"></script>
                    </code>
                </div>
                <hr>
                <div class="text-type">
                    Gray Text
                </div>
                <div class="different-texts">
                    <div class="large-gray-text">Hello, this is Tec{h}tonic library!</div>
                    <div class="xlarge-gray-text">Hello, this is Tec{h}tonic library!</div>
                </div>
                <div class="code">
                    <code class="code-cont">
                        <script src="https://gist.github.com/Jia-A/db5aa9f8ee3757806c6c672db4bb1577.js"></script>
                    </code>
                </div>
                <hr>
                <div class="text-type">
                    Centered Text
                </div>
                <div class="different-texts">
                    <div class="large-centered-text">Hello, this is Tec{h}tonic library!</div>
                    <div class="xlarge-centered-text">Hello, this is Tec{h}tonic library!</div>
                </div>
                <div class="code">
                    <code class="code-cont">
                        <script src="https://gist.github.com/Jia-A/6456482edb0224fa85a9de00d781344a.js"></script>
                    </code>
                </div>
                <hr>
            </div>
        </div>
    </div>
</body>

</html>