<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,900;1,300&display=swap"
        rel="stylesheet">
        <link rel="shortcut icon" type="image/jpg" href="../../favicon.png" />
    <link rel="stylesheet" href="./snackbar.css">
    <title>Tec{h}tonic | Snackbar</title>
</head>

<body>
    <div class="main-container">
        <div class="navbar-container">
            <nav class="navbar">
                <div class="lib-name">
                    <a href="../../index.html">Tec{h}tonic</a>

                </div>
                <div class="list-container">
                    <ul class="link-list">
                        <li class="link"><a href="https://github.com/Jia-A"><i
                            class="fab fa-github social-icon"></i></a></li>
                <li class="link"><a href="https://www.linkedin.com/in/jiyaagrawal/"><i
                            class="fab fa-linkedin-in social-icon"></i></a></li>
                <li class="link"><a href="https://twitter.com/jiya_agrawal2"><i
                            class="fab fa-twitter social-icon"></i></a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="document-container">
            <div class="sidebar">
                <div class="doc-topic">
                    Documentation
                </div>

                <ul class="doc-list">
                    <li class="doc-item"><a href="../../docs.html " class="side-link">Introduction</a></li>
                    <li class="doc-item"><a href="../color/color.html" class="side-link">Colors</a></li>
                </ul>
                <hr>
                <div class="components">
                    Components
                </div>

                <ul>
                    <li class="comp-name"><a href="../alert/alert.html" class="side-link">Alert</a></li>
                    <li class="comp-name"><a href="../avatar and badge/avatar.html" class="side-link">Avatar</a></li>
                    <li class="comp-name"><a href="../avatar and badge/badge.html" class="side-link">Badge</a></li>
                    <li class="comp-name"><a href="../button/button.html" class="side-link">Button</a></li>
                    <li class="comp-name"><a href="../card/card.html" class="side-link">Card</a></li>
                    <li class="comp-name"><a href="../image-and-input/image.html" class="side-link">Image</a></li>
                    <li class="comp-name"><a href="../image-and-input/input.html" class="side-link">Input</a></li>
                    <li class="comp-name">Lists</li>
                    <li class="comp-name active"><a href="../snackbar/snackbar.html" class="side-link">Snackbar</a></li>
                    <li class="comp-name"><a href="../text-utilities/text-uti.html" class="side-link">Text Utilities</a></li>
                </ul>

            </div>
            <div class="snackbar-document">
                <div class="snackbar-head">
                    Snackbar
                </div>
                <div class="snackbar-content">
                    Tec{h}tonic gives you two types of snackbars or toasts for normal notification or error notification
                    on your website.
                </div>
                <hr>
                <div class="snackbar-topic">
                    Snackbar for normal notification
                </div>
                <div class="snackbar-container">

                    <div class="snack-main notify">
                        <p>Hello and welcome to my UI library!!<span class="hand-icon"><i
                                    class="fas fa-hand-peace"></i></span></p>
                    </div>
                </div>
                <div class="code">
                    <code class="code-cont">
                        <script src="https://gist.github.com/Jia-A/246e9b2409e39a29740f4d84e0768764.js"></script>
                    </code>
                </div>
                <hr>
                <div class="snackbar-topic">
                    Snackbar for error notification
                </div>
                <div class="snackbar-container">

                    <div class="snack-main error">
                        <p class="text">Can't send photo. Retry in 5 seconds</p>

                        <button class="retry">RETRY</button>

                        <button class="cross-btn"><span><i class="fas fa-times"></i></span></button>
                    </div>
                </div>
                <div class="code">
                    <code class="code-cont">
                        <script src="https://gist.github.com/Jia-A/1c513f37da0b2f1816dfba2ab2c775bd.js"></script>
                    </code>
                </div>
                <hr>
            </div>
        </div>
    </div>
</body>

</html>