

.alert-head,
.alert-topic {
    color: var(--font-color);
    font-size: var(--head-type-font);
}

.alert-head {
    margin: -5px;
}

.alert-topic {
    margin-top: var(--type-margin);
}

.alert-content{

    padding: var(--content-padding);
    font-size: var(--content-font);
    color: var(--primary-color);
}


.alert-container {
    display: flex;
    flex-basis: var(--container-flex-basis);
    flex-direction: column;
    gap: var(--container-gap);
    padding: 2.5rem;
    margin-top: var(--container-margin-top);
    background-color: var(--eg-container-bg);
    border-radius: var(--border-radius);
}

.alert-box,
.alert-border {
    max-width: 56.25rem;
    border-radius: var(--border-radius);
}

.alert-box {
    color: var(--whitesmoke-color);
}

p {
    margin: 1rem;
}

span {
    font-size: var(--content-font);
}

.primary {
    background-color: var(--primary-color);
    opacity: 0.9;
}

.success {
    background-color: var(--good-color);
    opacity: 0.9;
}

.attention {
    background-color: var(--alert-color);
    opacity: 0.9;
}

.warning {
    background-color: var(--warning-color);
    opacity: 0.9;
}

.primary-border {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.success-border {
    color: var(--good-color);
    border: 1px solid var(--good-color);
}

.attention-border {
    color: var(--alert-color);
    border: 1px solid var(--alert-color);
}

.warning-border {
    color: var(--warning-color);
    border: 1px solid var(--warning-color);

}

.code{
    margin: 1rem auto;
    width: 400px;
    overflow: auto;
}

.gist-meta{
    display: none;
}
.smaller-text{
    font-size: smaller;
}

