@import "../../assets/common-css/sidebar.css";
@import "../../assets/common-css/navbar.css";
@import "../../assets/common-css/containers.css";
@import "../../document-css/doc.css";

.alert-head, .alert-topic{
    color: var(--font-color);
    font-size: 1.7rem;
}
.alert-head{
    margin: -5px;
}
.alert-topic{
    margin-top: 30px;
}
.alert-content{
    padding: 20px;
    font-size: 19px;
    color: var(--primary-color);
}
.alert-container{
    display: flex;
    flex-basis: 400px;
    flex-direction: column;
    gap: 30px;
    padding: 40px;
    margin-top: 30px;
    background-color: #dbe0e7;
    border-radius: 5px;
}
.alert-box, .alert-border{
    height: 50px;
    max-width: 900px;
    border-radius: 5px;
    /* color: whitesmoke; */
    
}
.alert-box{
    color: whitesmoke;
}
p{
margin: 1rem;
}
span{
    font-size: 19px;
}
.primary{
    background-color: var(--primary-color);
    opacity: 0.9;
}
.success{
    background-color: var(--good-color);
    opacity: 0.9;
}
.attention{
    background-color: var(--alert-color);
    opacity: 0.9;
}
.warning{
    background-color: var(--warning-color);
    opacity: 0.9;
}
.primary-border{
    color: var(--primary-color);
    border: 1px solid var(--primary-color); 
}
.success-border{
    color: var(--good-color);
    border: 1px solid var(--good-color);
}
.attention-border{
    color: var(--alert-color);
    border: 1px solid var(--alert-color);
}
.warning-border{
    color: var(--warning-color);
    border: 1px solid var(--warning-color);

}


