<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,900;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./alert.css">
    <title>Tec{h}tonic</title>
</head>
<body>
    <div class="main-container">
        <div class="navbar-container">
            <nav class="navbar">
               <div class="lib-name">
                   Tec{h}tonic
                   
               </div> 
               <div class="list-container">
                    <ul class="link-list">
                        <li class="link"><a href="">Home</a></li>
                        <li class="link"><a href="">Docs</a></li>
                        <li class="link"><a href="">Library</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="document-container">
            <div class="sidebar">
                <div class="doc-topic">
                    Documentation
                </div>
                
                <ul class="doc-list">
                    <li class="doc-item">Introduction</li>
                    <li class="doc-item">Colors</li>
                    <li class="doc-item">Text Utilities</li>
                </ul>
                <hr>
                <div class="components">
                    Components
                </div>
                
                <ul>
                    <li class="comp-name">Alert</li>
                    <li class="comp-name">Avatar</li>
                    <li class="comp-name">Badge</li>
                    <li class="comp-name">Button</li>
                    <li class="comp-name">Card</li>
                    <li class="comp-name">Image</li>
                    <li class="comp-name">Input</li>
                    <li class="comp-name">Lists</li>
                    <li class="comp-name">Navigation</li>
                    <li class="comp-name">Snackbar</li>
                </ul>

            </div>
            <div class="alert-document">
                <div class="alert-head">
                    Alert
                </div>
                <div class="alert-content">
                    Alert is a component which is used to draw user's attention to a specified thing. Tec{h}tonic has 2 categories of alert with 4 types in each.
                </div>
                <hr>
                <div class="alert-topic">
                    Alert with background color
                </div>
                <div class="alert-container">
                    <div class="alert-box primary">
                        <p><span>Primary! </span>Everything looks good! Keep going...</p>
                        
                    </div>
                    <div class="alert-box success">
                        <p><span>Success! </span>Task successful!</p>
                    </div>
                    <div class="alert-box attention">
                        <p><span>Alert! </span>You might have a problem here...</p>
                    </div>
                    <div class="alert-box warning">
                        <p><span>Warning! </span>Something went wrong!!!</p>
                    </div>
                </div>
                <hr>
                <div class="alert-topic">
                    Alert with border only
                </div>
                <div class="alert-container">
                    <div class="alert-border primary-border">
                        <p><span>Primary! </span>Everything looks good! Keep going...</p>
                    </div>
                    <div class="alert-border success-border">
                        <p><span>Success! </span>Task successful!</p>
                    </div>
                    <div class="alert-border attention-border">
                        <p><span>Alert! </span>You might have a problem here...</p>
                    </div>
                    <div class="alert-border warning-border">
                        <p><span>Warning! </span>Something went wrong!!!</p>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
</body>
</html>